.containerrr {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #97bf11;
  justify-content: center;
}

.button-x-myreserv {
  color: white;
  font-size: 22px;
  padding: 0.5rem;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

#closeReservation {
  position: fixed;
  top: 2%;
  right: 5%;
}

@media only screen and (max-width: 768px) {
  .containerrr {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
